.header {
  display: flex;
  justify-content: space-around;
  height: 50px;
  background-color: black;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  color: aqua;
  text-decoration: none;
  font-size: 25px;
}
