.workers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
  color: cornflowerblue;
}

.WorkerPageContent {
  font-size: larger;
  color: rgb(46, 235, 71);
}
