.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 25px;
  color: aqua;
}

.HomePagecontent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 700px;
}

.HomePagecontent a {
  color: aqua;
}
